.invoice-residual-view {
    width: 80%;
}

.invoice-residual-view .o_td_label{
    visibility: hidden !important;
    display: none;
    width: 0% !important;
    min-width: 0px;
}

.icono-usuarios{

}

.icono-empleados{
}

.icono-terceros{
}


@media (min-width: 768px){
.o_form_view{display: -webkit-box; display: -webkit-flex; display: flex; -webkit-flex-flow: column nowrap; flex-flow: column nowrap; min-height: 100%;}
}
.o_form_view .o_form_sheet_bg{
    -webkit-box-flex: 1;-webkit-flex: 1 0 auto;flex: 1 0 auto;
    background-image: url(/keralty_module/static/src/img/background.svg) !important;
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%; /* Resize the background image to cover the entire container */
    border-bottom: 1px solid #dee2e6;
}
.o_form_view .o_form_sheet_bg > .o_form_sheet{
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ced4da;
    box-shadow: 0 5px 20px -15px black;
    margin: 4.8px auto;
    padding: 24px;
    padding-right: 16px;
    padding-left: 16px;
}
@media (min-width: 576px){.o_form_view .o_form_sheet_bg > .o_form_sheet{max-width: 540px;}}
@media (min-width: 768px){.o_form_view .o_form_sheet_bg > .o_form_sheet{max-width: 720px;}}
@media (min-width: 992px){.o_form_view .o_form_sheet_bg > .o_form_sheet{max-width: 960px;}}
@media (min-width: 1200px){.o_form_view .o_form_sheet_bg > .o_form_sheet{max-width: 1140px;}}

@media (min-width: 768px){.o_form_view .o_form_sheet_bg > .o_form_sheet{margin: 12px auto;}}
@media (min-width: 992px) and (max-width: 1533.98px){.o_form_view .o_form_sheet_bg > .o_form_sheet{padding-right: 32px;}}
@media (min-width: 992px) and (max-width: 1533.98px){.o_form_view .o_form_sheet_bg > .o_form_sheet{padding-left: 32px;}}
.o_form_view .o_form_sheet_bg > .o_form_sheet > .o_selection{float: right;}.o_form_view .oe_title{color: #212529;}
@media (min-width: 475px){.o_form_view .oe_title{padding-right: 45px;}}

.o_form_view .oe_avatar + .oe_title{padding-right: 100px;}
@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_1 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_2 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_3 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_4 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_5 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_6 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_7 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_8 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_9 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_10 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_11 {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group .o_group_col_12 {
		width: 100%;
	}
}

.o_form_view .o_group.o_inner_group>tbody>tr>td {
	padding: 0 45px 0 0;
}

@media (min-width: 475px) {
    .table-responsive{
        width: 90%;
    }
	.o_form_view .o_group .o_field_widget.o_text_overflow {
		width: 1px !important;
		min-width: 100%;
	}
	.o_form_view .o_group .o_form_label {
		margin-bottom: 5px;
	}
}

@media (max-width: 991.98px) {
	.o_form_view .o_group.o_label_nowrap .o_form_label {
		white-space: normal;
	}
}

.o_form_view .o_form_label.o_form_label_empty,
.o_form_view .o_form_label.o_form_label_false {
	opacity: 0.5;
	font-weight: normal;
}

@media (max-width: 767.98px) {
	.o_form_view .o_form_label {
		font-size: 15px;
	}
}

.o_form_view>.oe_chatter {
	-webkit-box-flex: 0;
	-webkit-flex: 1000 0 auto;
	flex: 1000 0 auto;
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
	margin-right: auto;
	margin-left: auto;
	padding: 8px 0;
}

@media (min-width: 576px) {
	.o_form_view>.oe_chatter {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.o_form_view>.oe_chatter {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.o_form_view>.oe_chatter {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.o_form_view>.oe_chatter {
		max-width: 1140px;
	}
}

.o_form_view .o_notebook>.o_notebook_headers {
	margin-left: -16px;
	margin-right: -16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.o_notebook_headers {
		margin-left: -32px;
		margin-right: -32px;
	}
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs {
	padding-left: 16px;
	border-bottom: 1px solid #ced4da;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs {
		padding-left: 32px;
	}
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item {
	white-space: nowrap;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link {
	color: #666666;
	border-color: #ced4da;
	background-color: white;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link:hover,
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link:focus,
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link:active {
	outline: none;
	color: #008784;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active {
	border-bottom-color: white;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active,
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active:hover,
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active:focus,
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active:active {
	color: #212529;
	border-top-color: #875A7B;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.disabled {
	color: #adb5bd;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item+.nav-item>.nav-link {
	border-left: 0;
}

.o_form_view .o_notebook>.tab-content {
	border-bottom: 1px solid #ced4da;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child {
	margin-top: 0;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html {
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -16px;
	border: none;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html {
		margin-left: -32px;
		margin-right: -32px;
	}
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-editor.panel {
	border: none;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading {
	padding-left: 16px;
	padding-right: 16px;
	border-top: none;
	padding-top: 4.8px;
	background: white;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading {
		padding-left: 32px;
	}
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading {
		padding-right: 32px;
	}
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .btn-secondary,
.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .o_radio_hide_bullet label,
.o_radio_hide_bullet .o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading label {
	color: #666666;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .btn-secondary:hover,
.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .o_radio_hide_bullet label:hover,
.o_radio_hide_bullet .o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading label:hover,
.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .btn-secondary:focus,
.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .o_radio_hide_bullet label:focus,
.o_radio_hide_bullet .o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading label:focus,
.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .btn-secondary.focus,
.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading .o_radio_hide_bullet label.focus,
.o_radio_hide_bullet .o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-toolbar.panel-heading label.focus {
	color: #008784;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-editing-area,
.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .o_readonly {
	padding: 0.75rem 1.25rem;
	padding-left: 16px;
	padding-right: 16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-editing-area,
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .o_readonly {
		padding-left: 32px;
	}
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .note-editing-area,
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html .o_readonly {
		padding-right: 32px;
	}
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.oe_form_field_html+.oe_clear:last-child {
	margin-bottom: -45px;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.o_field_x2many.o_field_x2many_list {
	display: block;
	width: auto;
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.o_field_x2many.o_field_x2many_list {
		margin-left: -32px;
		margin-right: -32px;
	}
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.o_field_x2many.o_field_x2many_list tr> :first-child.o_handle_cell {
	padding-left: 16px;
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.o_field_x2many.o_field_x2many_list tr> :first-child {
	padding-left: 16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.o_field_x2many.o_field_x2many_list tr> :first-child {
		padding-left: 32px;
	}
}

.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.o_field_x2many.o_field_x2many_list tr> :last-child {
	padding-right: 16px;
}

@media (min-width: 992px) and (max-width: 1533.98px) {
	.o_form_view .o_notebook>.tab-content>.tab-pane> :first-child.o_field_x2many.o_field_x2many_list tr> :last-child {
		padding-right: 32px;
	}
}

.o_form_view .o_notebook:last-child>.tab-content {
	border-bottom: none;
}

@media (max-width: 767.98px) {
	.o_form_view .o_notebook .o_notebook_headers {
		overflow-x: auto;
	}
	.o_form_view .o_notebook .o_notebook_headers::-webkit-scrollbar {
		display: none;
	}
	.o_form_view .o_notebook .o_notebook_headers .nav.nav-tabs {
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.o_form_view .o_cp_buttons {
		width: 100%;
	}
	.o_form_view .o_cp_buttons div,
	.o_form_view .o_cp_buttons .o-kanban-button-new {
		width: 100%;
	}
}

.o_form_view .o_field_widget .o_list_table.table-striped>tbody>tr:not(.o_data_row)>td {
	border-top: none;
}

.o_form_view .o_field_widget .o_list_table.table-striped>tfoot>tr {
	box-shadow: inset 0 1px 0 #dee2e6;
}

.o_form_view .o_field_widget .o_list_table.table-striped>tfoot>tr>td {
	border: none;
}

.o_form_view .o_field_widget .o_list_table.table-striped>tfoot>tr>td:empty {
	padding: 0;
}

.o_form_view .o_field_translate {
	padding-right: 0;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer {
	border-top: 1px solid #dee2e6;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_separator {
	border-top: 1px solid #dee2e6;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button {
	font-weight: 500;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled {
	font-weight: bold;
}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:first-of-type {
	padding-right: 16px;
}

@media (min-width: 1534px) {
    .table-responsive{
        width: 90%;
    }

	.o_form_view {
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
		height: 100%;
	}
	.o_form_view>.o_form_sheet_bg {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
		width: 1022px;
		padding: 0 16px;
		overflow: auto;
		border-bottom: none;
	}
	.o_form_view>.o_form_sheet_bg> :not(.o_form_sheet) {
		margin-left: -16px;
		margin-right: -16px;
	}
	.o_form_view>.o_form_sheet_bg>.o_form_sheet {
		width: 80%;
		max-width: 1140px;
	}
	.o_form_view>.oe_chatter {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
		width: 530px;
		padding: 0;
		overflow: auto;
		border-left: 1px solid #dee2e6;
		background-color: white;
	}
	.o_form_view>.oe_chatter .o_chatter_topbar {
		height: 34px;
	}
	.o_form_view>.oe_chatter .o_chatter_topbar .btn,
	.o_form_view>.oe_chatter .o_chatter_topbar .o_account_reports_page .oe_link_reports,
	.o_account_reports_page .o_form_view>.oe_chatter .o_chatter_topbar .oe_link_reports,
	.o_form_view>.oe_chatter .o_chatter_topbar .o_radio_hide_bullet label,
	.o_radio_hide_bullet .o_form_view>.oe_chatter .o_chatter_topbar label,
	.o_form_view>.oe_chatter .o_chatter_topbar .btn.o_active,
	.o_form_view>.oe_chatter .o_chatter_topbar .o_account_reports_page .o_active.oe_link_reports,
	.o_account_reports_page .o_form_view>.oe_chatter .o_chatter_topbar .o_active.oe_link_reports,
	.o_form_view>.oe_chatter .o_chatter_topbar .o_radio_hide_bullet label.o_active,
	.o_radio_hide_bullet .o_form_view>.oe_chatter .o_chatter_topbar label.o_active {
		border-top: 0;
	}
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .btn,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_account_reports_page .oe_link_reports,
	.o_account_reports_page .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .oe_link_reports,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_radio_hide_bullet label,
	.o_radio_hide_bullet .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar label,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .btn.o_active,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_account_reports_page .o_active.oe_link_reports,
	.o_account_reports_page .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_active.oe_link_reports,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_radio_hide_bullet label.o_active,
	.o_radio_hide_bullet .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar label.o_active {
		border-top: 0;
	}
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .btn:first-child,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_account_reports_page .oe_link_reports:first-child,
	.o_account_reports_page .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .oe_link_reports:first-child,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_radio_hide_bullet label:first-child,
	.o_radio_hide_bullet .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar label:first-child,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .btn.o_active:first-child,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_account_reports_page .o_active.oe_link_reports:first-child,
	.o_account_reports_page .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_active.oe_link_reports:first-child,
	.o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar .o_radio_hide_bullet label.o_active:first-child,
	.o_radio_hide_bullet .o_form_view>.oe_chatter.o_chatter_composer_active .o_chatter_topbar label.o_active:first-child {
		border-left: 0;
	}
	.o_form_view>.oe_chatter .o_thread_composer {
		border-width: 1px 0;
		margin-top: 0;
	}
	.o_form_view>.oe_chatter .o_thread_composer .o_composer_mention_dropdown {
		position: absolute;
		top: 100%;
	}
	.o_form_view>.oe_chatter .o_thread_composer .o_composer_mention_dropdown>.dropdown-menu {
		top: 100%;
		bottom: auto;
	}
}

@media (max-width: 991.98px) {
	.modal .modal-dialog .o_form_view .o_group.o_inner_group>tbody>tr>td.o_td_label {
		min-width: 100px;
	}
}

.modal .modal-dialog.modal-sm .o_form_view .o_group {
	display: block;
	margin-bottom: 20px;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody {
	display: block;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody>tr {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody>tr>td {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	display: block;
	max-width: 100%;
	padding: 0;
	width: auto !important;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody>tr>td.o_td_label {
	width: 94% !important;
	line-height: 0.8;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody>tr>td .o_field_widget {
	margin-bottom: 10px;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody>tr>td .o_field_widget>.o_field_widget {
	margin-bottom: 0;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody>tr>td .o_field_widget.o_field_boolean {
	margin-right: 0;
}

.modal .modal-dialog.modal-sm .o_form_view .o_group>tbody>tr>td .o_input_dropdown {
	width: auto;
	max-width: 100%;
}

@media (max-width: 767.98px) {
	.o_form_view.o_xxs_form_view .o_group.o_inner_group>tbody>tr>td .o_field_widget {
		margin-bottom: 20px;
	}
}

.o_form_view.o_xxs_form_view .o_group .o_td_label .o_form_label {
	font-weight: normal;
}

.o_form_view.o_xxs_form_view .o_form_label {
	margin-top: 3px;
	font-size: 12px;
	font-weight: normal;
	color: #8f8f8f;
}

.o_form_view.o_xxs_form_view .o_form_label.o_form_label_empty {
	display: none;
}


.o_form_button_edit {
    border-radius: 50rem !important;
}
.o_form_button_save {
    border-radius: 50rem !important;
}

.o_list_button_add{
    border-radius: 50rem !important;
}

.o_form_view .o_group .o_td_label .o_form_label {
    font-weight: normal;
    margin-right: 0px;
}
.rounded-pill{
	margin-top: 7px !important;
	margin-bottom: 7px !important;
}
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item+.nav-item>.nav-link:hover {
    /*color: #ffffff;*/
    border-top-color: #875A7B;
    border-radius: 50px 50px 50px 50px;
    border-bottom-color: #875A7B;
    border-top-color: #875A7B;
    font-weight: bold;
}
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item+.nav-item>.nav-link {
    /* border-left: 0; */
    /* border-top-color: #875A7B; */
    border-radius: 50px 50px 50px 50px;
    /* border-bottom-color: #875A7B; */
    margin-right: 5px;
    margin-left: 5px;
    /* border-left: groove; */
    /* border-right: groove; */
    /* border: brown; */
}
.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link {
    border-radius: 50px 50px 50px 50px;
    /* border-bottom-color: #875A7B; */
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 30px;
    padding-right: 10px;

}
.icono_areas_cliente:before{
    content: '';
    background:url('/keralty_module/static/src/img/iconos/areas_cliente.svg');
    background-size:cover;
        position:absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 7px;
    filter: invert(82%) sepia(0%) saturate(7454%) hue-rotate(102deg) brightness(102%) contrast(68%);
}
.icono_areas_derivadas:before{
    content: '';
    background:url('/keralty_module/static/src/img/iconos/areas_derivadas.svg');
    background-size:cover;
        position:absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 7px;
    filter: invert(82%) sepia(0%) saturate(7454%) hue-rotate(102deg) brightness(102%) contrast(68%);
}
.icono_areas_diseno:before{
    content: '';
    background:url('/keralty_module/static/src/img/iconos/areas_diseno.svg');
    background-size:cover;
        position:absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 7px;
    filter: invert(82%) sepia(0%) saturate(7454%) hue-rotate(102deg) brightness(102%) contrast(68%);
}
.icono_areas_total:before{
    content: '';
    background:url('/keralty_module/static/src/img/iconos/areas_total.svg');
    background-size:cover;
        position:absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 7px;
    filter: invert(82%) sepia(0%) saturate(7454%) hue-rotate(102deg) brightness(102%) contrast(68%);
}

.o_main_navbar > .o_menu_brand {
    padding-left: 50px;
}
.o_main_navbar > .o_menu_brand:before {
    content: '';
    background:url('/keralty_module/static/src/img/logos/brand-logo.png');
    background-size:cover;
        position:absolute;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    margin-top: 0px;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link:hover {
    /*color: #ffffff;*/
    border-top-color: #875A7B;
    border-radius: 50px 50px 50px 50px;
    border-bottom-color: #875A7B;
    border-top-color: #875A7B;
    font-weight: bold;
}

.o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active, .o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active:hover, .o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active:focus, .o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item>.nav-link.active:active {
    color: #ffffff;
    border-top-color: #875A7B;
    border-radius: 50px 50px 50px 50px;
    border-bottom-color: #875A7B;
    background-color: #00a09d;
    font-weight: bold;
}
.o_field_number {
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    padding: 8px;
}
